[Desktop Entry]
Encoding=UTF-8
Name=SCIM Input Method Setup
Name[cs]=Nastavení vstupní metody SCIM
Name[de]=Einstellungen der SCIM-Eingabemethoden
Name[fr]=Configuration de la Méthode de Saisie SCIM
Name[it]=Configurazione del metodo di inserimento SCIM
Name[ja]=SCIM入力メソッドの設定
Name[ko]=SCIM 입력기 설정
Name[pa]=SCIM ਇੰਪੁੱਟ ਢੰਗ ਸੈਟਅੱਪ
Name[zh_CN]=SCIM 输入法设置
Name[zh_TW]=SCIM 輸入法設定
Comment=Setup utility for Smart Common Input Method platform
Comment[cs]=Nástroj pro nastavení Smart Common Input Method platformy
Comment[de]=Einrichtungswerkzeug für die Smart Common Input Method-Plattform
Comment[fr]=Utilitaire de configuration de la plateforme "Smart Common Input Method"
Comment[it]=Programma di configurazione per il metodo inserimento comune intelligente
Comment[ja]=Smart Common Input Method platform セットアップユーティリティ
Comment[ko]=똑똑한 공통 입력 방법 (SCIM)을 위한 설정 프로그램
Comment[pa]=ਸਮਾਰਟ ਕਾਮਨ ਇੰਪੁੱਟ ਮੈਂਥਸਡ ਪਲੇਟਫਾਰਮ ਲਈ ਸੈਟਅੱਪ ਸਹੂਲਤ
Comment[zh_CN]=智能通用输入法平台的设置工具
Comment[zh_TW]=泛用智慧型輸入法平台的設定工具
Exec=scim-setup
Icon=/usr/share/pixmaps/scim-setup.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Applications;Settings;
