[Desktop Entry]
Name=rxvt-unicode
Comment=A VT102 emulator for the X window system
Exec=urxvt
Terminal=false
Type=Application
Icon=utilities-terminal
Categories=System;TerminalEmulator;
StartupWMClass=URxvt
